<% content_for :scripts do %>
  <script type="text/javascript">
    function h(s) {
      return $('<div/>').text(s).html();
    }

    function postMessage() {
      var params = $('form').serialize();
      $.post($('form').attr('action'), params);
//      appendMessage($('#message div'), params.user, params.body);
    }

    function appendMessage(element, user, body) {
      element.append($('<p><strong>'+h(user)+'</strong> '+h(body)+'</p>'));
    }

    function getMessages() {
      $.getJSON('/<%= params[:room] %>.js', function(data){
        var messages = $('<div/>');
        $.each(data, function(i,message){
          appendMessage(messages, message.user, message.body);
        });
        $('#messages').html(messages)
        setTimeout(getMessages, 5000);
      });
    }

    $(function(){
      $('form').submit(function(){
        this.preventDefault():
        postMessage();
        $('#post-message').val('');
        return false;
      });
      getMessages();
    });
  </script>
<% end %>

<div id="messages"></div>

<section class="mod messages">
<div class="body">
<ul>
  <li class="message">
    This is something that I wrote
  </li>
  <li class="message alt">
    This is something that I wrote
  </li>
  <li class="message">
    This is something that I wrote
  </li>
  <li class="message alt">
    This is something that I wrote
  </li>
  <li class="message">
    This is something that I wrote
  </li>
</ul>
</div>
</section>

<%= form_tag "/#{params[:room]}" do %>
<fieldset>
  <ul>
    <li>
      <input id="post-message" class="ls-text" type="text" name="message" size="80" />
      <button type="submit" class="button medium secondary">Post</button>
    </li>
  </ul>
</fieldset>
<% end %>