<form action="/logins" method="post">
  <fieldset>
    <ul>
      <li>
        <label>Username:</label>
        <input type="text" class="ls-text" name="user" value="<%= current_user %>">
        <button type="submit" class="button medium secondary">Login</button>
      </li>
    </ul>
  </fieldset>
</form>